<!-- Two way data binding -->
<div class="container mt-3">
    <label for="name">Server Name</label>
    <input type="text" class="form-control" id="name" style="width:300px;" [(ngModel)]="userName">

    <!-- Add Button  -->
    <button class="btn btn-primary" (click)="onReset()" [disabled]="check()">Add Server</button>


    <!-- example for ngIf directive -->
    <p *ngIf="display; else elseCondition">Server Got created with name {{userName}}</p>

    <!-- #elseCondition is nothing but like a local reference -->
    <ng-template #elseCondition>
        <p>No server was created</p>
    </ng-template>

</div>
